/***
 * dropSelect jQuery Plugin
 * (c) Craig Holden
 * http://tecktron.github.io/dropSelect/
 * MIT License - Please keep this header.
***/
.dropSelect {
    position: relative;
    display: inline-block;
    border: #dbe7f3 solid thin;
    background-color: #2e7bcf;
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    vertical-align: middle;
    border-radius: 6px;
}

.dropSelect:hover {
    background-color: #f2f8fc;
    color: #474747;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dropSelect div.selected {
    height: 100%;
    line-height: 2rem;
    padding: 1rem 3rem 1rem 1rem;
}

.dropSelect div.icon-arrow-down {
    display: block;
    font-size: 0.7rem;
    position: absolute;
    background: transparent none repeat scroll 0 0;
    right: 1.3rem;
    top: 1.4rem;
}

.dropSelect div.icon-arrow-down::after {
    content:"▼";
}

.dropSelect div.items {
    display:none;
    overflow-y: auto;
    /* show 4 items. to show 3, change the multiplier to 3 */
    height: calc(4rem * 4);
    background: inherit;
    width: inherit;
    position: absolute;
    border: inherit;
    margin-left: -1px;
}

.dropSelect:hover div.items {
    display:block;
    border-top: thin solid #9ddcff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropSelect div.items a {
    display: block;
    height: 2rem;
    line-height: 2rem;
    padding: 1rem;
    white-space: nowrap;
    color: #2e7bcf
}

.dropSelect div.items a.active {
    background-color: #2e7bcf;
    cursor: default;
    color: #474747;
}

.dropSelect div.items a:not(.active):hover {
    background-color: #2e7bcf;
    color: #FFF;
}
